body{
  background-color:	#FFFAFA;
  font-family:'monospace', Courier;
  text-align: center;
  padding: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

body a:hover{
  color: rgb(0, 157, 255);
}

h1{
  font-weight: 900;
  color:#ff9e69
}

.tips{
  font-weight: 900;}

section{
  font-size: auto;
}

.price{
  color: #ff69b4;
}

.hi{
  text-decoration: underline;
  color: #e169ff;}
