body{
  background-color:	#FFFAFA;
  font-family:'monospace', Courier;
  text-align: center;
  padding: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

body a:hover{
  color: rgb(0, 157, 255);
}

h1{
  font-weight: 900;
  color:#ff9e69
}

.tips{
  font-weight: 900;}

section{
  font-size: auto;
}

.price{
  color: #ff69b4;
}

.hi{
  text-decoration: underline;
  color: #e169ff;}

.introduction{
 color:#f8681a;
}

.choice{
margin: 50px;
display: flex;
flex-direction: row;
font-size: large;
color: #e169ff;
}


